#section {
  background-color: #cdc4f9;
  width: 100vw;
  height: 100vh;
}

#chat3 {
  border-radius: 15px;
}

#chat3 .form-control {
  border-color: transparent;
}

#chat3 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

#leftSide {
  position: relative;
  height: 600px;
}

#rightSide {
  position: relative;
  height: 600px;
}

.imageavatar {
  width: 45px;
  height: 100%;
}

.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -0.75rem;
}
